{% extends "site_base.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% trans "Expenses" %}{% endblock %}

{% block body_class %}expenses{% endblock %}

{% block page_title %}
  {% autopaginate object_list %}
  {% trans "Expenses" %}<a href="#" title={% trans "What is it?" %} class="help"><img src="{{ STATIC_URL }}tms/images/ico-help-16x16.gif" width="16" height="16" alt={% trans "Help" %}></a>
  <span class="note">{% blocktrans with start_index=page_obj.start_index end_index=page_obj.end_index count=paginator.count %}Viewing {{ start_index }}-{{ end_index }} ({{ count }}) Expenses{% endblocktrans %}</span>
{% endblock %}

{% block content %}
  <div id="control-panel">
    <div class="form">
        {% include "tms/expenses_form.html" %}
    </div>
    <div class="panel"><img src="{{ STATIC_URL }}tms/images/logo-expenses.png" width="535" height="254" alt="panel" style="padding-top:10px;"></div>
  </div>
  <div class="clearall"></div>
  <div class="data-box expenses">
    <table>
      <thead>
        <tr>
          <th>{% trans "Customer" %}</th>
          <th>{% trans "Claim Date" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Expense Type" %}</th>
          <th>{% trans "Reciepted" %}</th>
          <th>{% trans "Currency" %}</th>
          <th>{% trans "Payment Method" %}</th>
          <th>{% trans "Taxable" %}</th>
          <th>{% trans "Expense Amount" %}</th>
          <th>{% trans "Tax Amount" %}</th>
          <th>{% trans "Local Currency Amount" %}</th>
          <th>{% trans "Delete" %}</th>
        </tr>                        
      </thead>
      <tbody id="tbody">
      {% autopaginate object_list %}
        {% for object in object_list %}
            {% include "tms/expenses_single_entry.html" %}
        {% endfor %}
      </tbody>
    </table>
    {% paginate %}
  </div>
{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
	$(document).ready(function() {
		$('select').selectBox();
		$('checkbox').selectBox();
	});
  </script>
{% endblock %}
